.headerTop {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.logoTop {
  display: flex;
  margin-top: 14px;
}

.center-nav {
  display: flex;
  flex: 1;
}

.right-navigations {
  margin-top: 29px;
  font-size: 24px;
}

.image-banner {
  margin-top: 24px;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hor-lines {
    width: 30px;
    height: 40px;
    margin-top: 29px;
    margin-right: 32px;
    cursor: pointer;
  }
  .hor-lines div {
    background-color: #82509f;
    width: 100%;
    height: 4px;
    margin-top: 4px;
  }
  .right-navigations {
    display: none;
  }
  .image-banner {
    margin-top: 8px;
  }
}
